*{
  font-family: 'Inter', sans-serif;
  color: #333333;
  box-sizing: border-box;
  font-weight : 400;
}

body{
  margin: 0;
  background-color: #FDFBFB;
}

h1{
  margin:0;
}

h2{
  margin:0;
}

p{
  line-height: 200%;
}

a{
  transition: color 0.5s;
  text-decoration: none;
  color: #2B12ED;
}

a:active, a:hover, a:focus {
  color: #2B12ED;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: black;
  display:flex;
}

li{
  padding:1em;
  font-size: 1em;
}

li a {
  display: block;
  text-decoration: none;
}

li a:hover{
  color: #2B12ED;
}

li a:hover:not(.active) {
  color: #2B12ED;
  cursor: pointer;
}

a h1:hover{
  color: #2B12ED;
}

nav{
  display: flex;
}

img{
  width:100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer{
  display: flex;
  position: fixed;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
}

figure{

}

figcaption{
  font-family: 'Inter', sans-serif;
  font-size: 0.8em;
}

mark{
  font-family: 'Lora', serif;
  color: white;
  background-color: #2C2CDD;
  padding: 0.2em;
}

::selection {
  color: white;
  background: #2C2CDD;
}
::-moz-selection {
  color: white;
  background: #2C2CDD;
}

.style-nav{
  display: flex;
  position: fixed;
  top:1rem;
  width: 100%;
  padding: 0 2em 0 2em;
}

.style-nav h1{
  font-size: 1.125em;
}

.style-nav h2{
  font-size: 0.9em;
  font-family: 'Inter', sans-serif;
}

.style-nav ul{
  flex-direction: row;
}

.template{
  padding: 10em;
  width: 70%;
  margin: auto;
}

.template h1{
  font-size: 2em;
  font-family: 'Inter', sans-serif;
}

.template p{
  font-family: 'Inter', sans-serif;
}

.template a{
  text-decoration: none;
  color: #2B12ED;
}

.template img{
  width: 3%;
  height: auto;
}

.template-nav{
  padding:2em;
  display: flex;
  justify-content: flex-end;
}

.header{
  padding-bottom: 2em;
}

.header h1{
  font-family: 'Lora', serif;
}

.text{
  color: #8c9ead;
  text-decoration:underline;
  padding: 0.2em;
}

.logo{
  width:70px;
  height:70px;
  display: block;
  margin-right: auto;
/*  flex-direction: row;
  align-items: flex-start;*/
}

.placeholder{
  flex:50%;
  padding:4em 5em 4em 5em;
}

.placeholder-flex{
  display:flex;
  padding:3em 0 3em 0;
  background-color: #f7f7f7;
}

.placeholder-flex h3{
  font-size: 0.9em;
  color: #56aed4;
}

.placeholder-flex p{
  font-size: 0.8em;
  color: #1c3d4f;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container p{
  font-size: 0.9em;
}

.content h1{
  font-family: 'Inter', sans-serif;
  color: #0500FF;
  text-align: center;
}

.content h2{
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight : 600;
}

.content img{
  padding: 0 0 2em 0;
}

.quote{
  font-family: 'Inter', sans-serif;
}

.home{
  width: 70%;
  align-self: center;
  text-align: left;
}

.home h1{
  font-size: 2em;
  font-family: 'Lora', serif;
  display:inline;
  padding-bottom: 2em;
}

.home p{
  font-family: 'Inter', sans-serif;
  font-style: italic;
  opacity: 80%;
  color: #2B12ED;
  padding-top: 1em;
}

.name{
  font-family: 'Lora', serif;
  text-decoration: underline;
}

.name:hover{
    color: #2B12ED;
}

.divider{
  font-size: 1em;
  display:inline;
  padding: 0.5em;
}

.divider h1{
  font-family: 'Inter', sans-serif;
  color: #2B12ED;
  font-weight : 200;
}

.divider h2{
  font-family: 'Inter', sans-serif;
  color: #2B12ED;
  font-weight : 200;
}

.morework{
  width: 75%;
  align-self: center;
  text-align: left;
}

.morework h2{
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;
  display:inline;
  opacity: 80%;
}

.morework h2:hover{
  color: #2B12ED;
}

.morework p{
  font-family: 'Lora', serif;
  opacity: 80%;
}


.morework img{
  width:80%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.divider{
  font-size: 1em;
  display:inline;
  padding: 0.5em;
}

.divider h1{
  font-family: 'Inter', sans-serif;
  color: #2B12ED;
  font-weight : 200;
}

/* .home img{
   padding:1em 0 1em 0;
} */

.hidden-text{
  opacity: 30%;
  padding-top: 5em;
}

.hidden-text:hover{
  opacity:100%;
}

.hidden-text p{
  font-family: 'Lora', serif;
}

.hidden-text a{
  font-family: 'Lora', serif;
}

.description{
  font-size: 0.6em;
  font-family: 'Inter', sans-serif;
  color:#2B12ED;
  font-style: italic;
}

.description-text{
  font-family: 'Inter', sans-serif;
  font-size: 0.8em;
  color:#3A3A48;
  font-weight: 600;
  text-decoration: underline;
  padding-bottom:0.3em;
}

.description-role{
  font-family: 'Inter', sans-serif;
  font-size: 0.8em;
  color: #3A3A48;
}

.about-project {
  font-size: 0.5em;
}

.button {
  font-family: 'Inter', sans-serif;
  background-color: white;
  border: 2px solid;
  border-color: #2B12ED;
  color: #2B12ED;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border-radius: 30px;
  font-size: 1em;
}

.button:hover {
  background-color: #2B12ED;
  color:white;
}


.hero-container{
  display: flex;
  padding-top: 0em;
  height: 100vh;
  justify-content: center;
}

.second-container{
  display: flex;
  padding: 1em 0 4em 0;
  justify-content: center;
}

.client-container{
  display: flex;
  padding: 0.5em 0 5em 0;
  justify-content: center;
}

.about-container{
  display: flex;
  width: 100%;
  margin: auto;
}

.work-container {
  display: flex;
  width: 75%;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  padding: 0 2em 10em 2em;
}

.work-example-container {
  width: 25%;
  padding: 2em 1em 1em 1em;
}

.work-example-container h1{
  font-family: 'Lora', serif;
  font-size: 1.2em;
}

.work-example-container p{
  font-family: 'Inter', sans-serif;
  font-size: 0.8em;
  opacity: 0.8;
}

.work-example-container img{
  opacity: 1.0;
  padding: 0 0 1em 0;
}

.work-example-container img:hover{
  opacity: 0.8;
}

.second-work-container {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  padding: 0 2em 8em 2em;
}

.second-work-example-container {
  width: 50%;
  padding: 2em 1em 2em 2em;
}

.second-work-example-container h1{
  font-family: 'Lora', serif;
  font-size: 1.2em;
}

.second-work-example-container p{
  font-family: 'Inter', sans-serif;
  font-size: 0.9em;
}

.second-work-example-container img{
  opacity: 1.0;
}

.second-work-example-container img:hover{
  opacity: 0.5;
}

.group-section{
  padding-top: 2em;
  height: 100vh;
  justify-content: center;
}

.header-container{
  width: 50%;
  margin: auto;
  padding: 0 2em 2em 2em;
}

.header-container h1{
  font-family: 'Lora', serif;
  font-size: 1.7em;
  font-weight:600;
  text-align: center;
  text-decoration: underline;
}
.footer-container{
  padding: 4em 2em 8em 2em;
}

.footer-container h1{
  font-family: 'Lora', serif;
  font-size: 1.7em;
  font-weight:600;
  text-align: center;
  text-decoration: underline;
}

.footer-container h2{
  font-family: 'Lora', serif;
  font-size: 1em;
  font-weight:600;
  text-align: center;
  text-decoration: none;
  padding-top: 4em;
}

.footer-container img{
  width: 50%;
  height: auto;
}

.work-header-container{
  display: flex;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
  padding: 10em 2em 5em 2em;
  justify-content: center;
}

.work-header-container h1{
  font-family: 'Lora', serif;
  font-size: 1.7em;
  font-weight:600;
  text-align: center;
  text-decoration: underline;
  padding-top: 0em;
}


.middle{
  text-align: center;
  padding: 1em 0 0.8em 0;
}

.footer{
  padding: 10em 1em 5em 2em;
  color:#2B12ED;
}

.footer a{
  color: #e6e4e2;
}

.footer a:hover{
  color: #2B12ED;
  cursor: pointer;
}

.content {
  justify-content: center;
  padding:5em 0 10em 0;
}

.content h1{
  margin: 2em 0 1em 0;
}

.content h2{
  margin: 2em 0 1em 0;
}

.section{
  padding:0.8em 0 0.8em 0;
}

.section h1{
  font-family: 'Lora', serif;
  color: #333333;
  font-size: 3em;
}

.grid-container {
  display: grid;
  align-items: start;
}

.grid-col-2 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-row-gap: 1px;
}

/*
.grid-col-2-inverse {
  grid-template-column
} */

.left-30 {
  grid-column: 1/2;
}

.right-70 {
  grid-column: 3/5;
}

.left-50 {
  grid-column: 1/3;
  padding-right: 2em;
}

.left-50 h1{
  font-family: 'Lora', serif;
  font-size: 2em;
  text-align: left;
  color: #333333;
  margin: auto;
  padding-top: 2em;
}

.footer-text p{
  font-style: italic;
  opacity: 63%;
  text-decoration: underline;
}

.right-50 {
  grid-column: 3/5;
}

.right-50 h1{
  font-family: 'Lora', serif;
  font-size: 2em;
  text-align: right;
  color: #333333;
  margin: auto;
  padding-top: 2em;
}

.footer-text-right p{
  font-style: italic;
  opacity: 63%;
  text-decoration: underline;
  text-align: right;
}

#active {
  color: #0500FF;
  cursor: pointer;
}

#nav-left {
  flex-direction: row;
  align-items: flex-start;
}

#footer-left{
  flex-direction: row;
  align-items: flex-end;
}

#footer-right {
  flex-direction: row;
  width: auto;
  opacity: 63%;
  text-align: right;
}

#nav-bottom{
  bottom:1em;
  top: auto;
}

#nav-bottom-content {
  justify-content: space-between;
}

@media (max-width: 1290px) {
  .work-example-container {
    width: 50%;
  }
  .footer-container img{
    width: 80%;
    height: auto;
  }
}

@media (min-width: 950px) {
  .content {
    width: 60%;
  }

  .home h1{
    font-size: 5em;
  }
}

@media (max-width:1244px) {
  .home h1{
    font-size: 4em;
  }
}

@media (max-width:1117px){
  .second-work-example-container{
    width: 100%;
  }

@media (max-width:950px){
  .placeholder-flex{
    flex-direction: column;
  }
  .work-example-container{
    width: 100%;
  }
  .second-work-example-container{
    width: 100%;
  }
  .content{
    padding: 8em 2em 5em 2em;
  }
  .home h1{
    font-size: 4em;
  }
}

@media (max-width:934px){
  .work-example-container{
    width: 50%;
  }

@media (max-width:900px){
  .template{
    width: 70%;
    font-size: 0.8em;
    padding:10em 0 10em 0;
  }
  .right-50 h1{
    text-align: left;
  }
  .footer-text-right p{
    text-align: left;
  }
  .second-container{
    padding: 3em 0 0 0;
  }
  .client-container{
    padding: 2em 0 7em 0;
  }
  .work-example-container {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .right-50, .left-50 {
    grid-column: 1/5;
  }
  .home h1{
    font-size: 4em;
  }
}

@media (max-width:750px) {
  .home h1{
    font-size: 3.5em;
  }
}

@media (max-width:700px){
  .work-container{
    width: 80%;
  }
  .home h1{
    font-size: 3.2em;
  }

  .work-example-container {
    width: 100%;
  }

}

@media (max-width:550px) {
  .home h1{
    font-size: 2.7em;
  }

}

@media (max-width:500px) {
  .home h1{
    font-size: 2.7em;
  }
  #nav-left{
    display: none;
  }
  #footer-right{
    display:none;
  }
}

@media (max-width:400px) {
  .home h1{
    font-size: 2.4em;
  }
}
